<footer class="footer">
  <div class="footer-content">
    <p>
      &copy; Obia Chinedum <%= new Date().getFullYear() %> Todo App. All rights
      reserved.
    </p>
    <p class="footer-info">Built with Node.js, Express & EJS</p>
  </div>
</footer>
